#botones{
 align-content: center;
}
.generales{
    margin: 4rem;

}
.grilladeimagen{
    display: grid;
    
    grid-template-columns: repeat(60,1fr);
    grid-template-rows: repeat(14,1fr);
}
.grilladeimagen :nth-child(1){
    grid-column: 1/61;
    grid-row: 1/15;
    width: 100%;
}
.grilladeimagen .point{
    grid-column: 27/27;
    grid-row: 9/11;
    color: red;
    font-size: 2rem;
  
}

.point .tooltiptext{
    visibility: hidden;
    width: 10%;
    background-color: lightgray;
    color:black ;
    font-size: 15px;
    text-align: center;
    border-radius: 6px;
    position: absolute;
    background-size: 2rem;
    flex-direction: row;
}
.point:hover .tooltiptext{
    visibility: visible;
    
}

.grilladeimagen .point1{
    grid-column: 56/56;
    grid-row: 9/10;
    color: red;
    font-size: 1.5rem;
    justify-self: start;

}

.point1 .tooltiptext1{
    visibility: hidden;
    width: 7%;
    background-color: lightgray;
    color:black ;
    font-size: 15px;
    text-align: center;
    border-radius: 6px;
    position: absolute;
    left: 79rem;
    background-size: 2rem;
}

.point1:hover .tooltiptext1{
    visibility: visible;
}
.grilladeimagen .point2{
    grid-column: 59/60;
    grid-row: 11/12;
    color: red;
    font-size: 1.5rem;
    align-self: flex-end;
}

.point2 .tooltiptext2{
    visibility: hidden;
    width: 10%;
    background-color: lightgray;
    color:black ;
    font-size: 15px;
    text-align: center;
    border-radius: 6px;
    position: absolute;
    left: 81rem;
    background-size: 2rem;
}

.point2:hover .tooltiptext2{
    visibility: visible;
}

.grilladeimagen .point3{
    grid-column: 25/25;
    grid-row: 11/12;
    color: red;
    font-size: 2rem;
    align-self: flex-end;
}

.point3 .tooltiptext3{
    visibility: hidden;
    width: 10%;
    background-color: lightgray;
    color:black ;
    font-size: 15px;
    text-align: center;
    border-radius: 6px;
    position: absolute;
    background-size: 2rem;
}

.point3:hover .tooltiptext3{
    visibility: visible;
}
.grilladeimagen .point4{
    grid-column: 16/16;
    grid-row: 6/7;
    color: red;
    font-size: 2rem;
}

.point4 .tooltiptext4{
    visibility: hidden;
    width: 10%;
    background-color: lightgray;
    color:black ;
    font-size: 15px;
    text-align: center;
    border-radius: 6px;
    position: absolute;
    background-size: 2rem;
}

.point4:hover .tooltiptext4{
    visibility: visible;
}

.grilladeimagen .point5{
    grid-column: 40/40;
    grid-row: 8/9;
    color: red;
    font-size: 1.7rem;
}

.point5 .tooltiptext5{
    visibility: hidden;
    width: 10%;
    background-color: lightgray;
    color:black ;
    font-size: 15px;
    text-align: center;
    border-radius: 6px;
    position: absolute;
    background-size: 2rem;
}

.point5:hover .tooltiptext5{
    visibility: visible;
}
.grilladeimagen .point6{
    grid-column: 6/6;
    grid-row: 3/4;
    color: red;
    font-size: 2rem;
    justify-self: center;
}

.point6 .tooltiptext6{
    visibility: hidden;
    width: 10%;
    background-color: lightgray;
    color:black ;
    font-size: 15px;
    text-align: center;
    border-radius: 6px;
    position: absolute;
    background-size: 2rem;
}

.point6:hover .tooltiptext6{
    visibility: visible;
}
.grilladeimagen .point7{
    grid-column: 8/8;
    grid-row: 8/9;
    color: red;
    font-size: 2rem;
    justify-self: center;
}

.point7 .tooltiptext7{
    visibility: hidden;
    width: 10%;
    background-color: lightgray;
    color:black ;
    font-size: 15px;
    text-align: center;
    border-radius: 6px;
    position: absolute;
    background-size: 2rem;
}

.point7:hover .tooltiptext7{
    visibility: visible;
}
.grilladeimagen .point8{
    grid-column: 16/16;
    grid-row: 9/10;
    color: red;
    font-size: 2rem;
    justify-self: center;
}

.point8 .tooltiptext8{
    visibility: hidden;
    width: 10%;
    background-color: lightgray;
    color:black ;
    font-size: 15px;
    text-align: center;
    border-radius: 6px;
    position: absolute;
    background-size: 2rem;
}

.point8:hover .tooltiptext8{
    visibility: visible;
}
.grilladeimagen .point9{
    grid-column: 57/57;
    grid-row: 6/7;
    color: red;
    font-size: 1.5rem;
    align-self: flex-end;
    justify-self: flex-end;
}

.point9 .tooltiptext9{
    visibility: hidden;
    width: 10%;
    background-color: lightgray;
    color:black ;
    font-size: 15px;
    text-align: center;
    border-radius: 6px;
    position: absolute;
    left: 78rem;
    background-size: 2rem;
}

.point9:hover .tooltiptext9{
    visibility: visible;
}
.grilladeimagen .point10{
    grid-column: 47/47;
    grid-row: 8/9;
    color: red;
    font-size: 1.5rem;
    align-self: flex-end;
    justify-self: flex-end;
}

.point10 .tooltiptext10{
    visibility: hidden;
    width: 10%;
    background-color: lightgray;
    color:black ;
    font-size: 15px;
    text-align: center;
    border-radius: 6px;
    position: absolute;
    background-size: 2rem;
}

.point10:hover .tooltiptext10{
    visibility: visible;
}
.grilladeimagen .point11{
    grid-column: 56/58;
    grid-row: 9/11;
    color: red;
    font-size: 1.5rem;
    align-self: center;
    justify-self: center;
    
}

.point11 .tooltiptext11{
    visibility: hidden;
    width: 10%;
    background-color: lightgray;
    color:black ;
    font-size: 15px;
    text-align: center;
    border-radius: 6px;
    position: absolute;
    left: 77rem;
    background-size: 2rem;
}

.point11:hover .tooltiptext11{
    visibility: visible;
}
.grilladeimagen .point12{
    grid-column: 57/59;
    grid-row: 10/11;
    color: red;
    font-size: 1.5rem;
    align-self: flex-end;
    justify-self: center;
    
}

.point12 .tooltiptext12{
    visibility: hidden;
    width: 10%;
    background-color: lightgray;
    color:black ;
    font-size: 15px;
    text-align: center;
    border-radius: 6px;
    position: absolute;
    left: 79rem;
    background-size: 2rem;
}

.point12:hover .tooltiptext12{
    visibility: visible;
}